<div class="ad_list_view">
	<h1><%= @title %></h1>
	<table border="1" cellspacing="0" cellpadding="2">
		<thead>
			<tr>
				<th>广告</th>
				<th>活动时间</th>
				<th>发布时间</th>
				<th>基站号</th>
				<th colspan="2">操作</th>
			</tr>
		</thead>
		<tbody>
			<% @send_queues.each do |send_queue| %>
				<tr>
					<td><a href="/send_queues/<%= send_queue.id %>"><img src="<%= send_queue.image.url(:mini) %>" /></a></td>
					<td><%= send_queue.start_date %> - <%= send_queue.end_date %></td>
					<td><%= send_queue.release_start_date %> - <%= send_queue.release_end_date %></td>
					<td><%= send_queue.beacon_id %></td>
					<td><a href="/send_queues/<%= send_queue.id %>/edit">编辑</a></td>
					<% if send_queue.release_end_date != nil %>
						<% if send_queue.release_end_date >= Date.today  %>
							<td><a href="/send_queues/drops?my_id=<%= send_queue.id%>">下架</a></td>
						<% end %>	
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
