<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @send_queue.uuid %>
</p>

<p>
  <strong>Start date top:</strong>
  <%= @send_queue.start_date_top %>
</p>

<p>
  <strong>Start date left:</strong>
  <%= @send_queue.start_date_left %>
</p>

<p>
  <strong>Start date width:</strong>
  <%= @send_queue.start_date_width %>
</p>

<p>
  <strong>Start date height:</strong>
  <%= @send_queue.start_date_height %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @send_queue.start_date %>
</p>

<p>
  <strong>End date top:</strong>
  <%= @send_queue.end_date_top %>
</p>

<p>
  <strong>End date left:</strong>
  <%= @send_queue.end_date_left %>
</p>

<p>
  <strong>End date width:</strong>
  <%= @send_queue.end_date_width %>
</p>

<p>
  <strong>End date height:</strong>
  <%= @send_queue.end_date_height %>
</p>

<p>
  <strong>End date:</strong>
  <%= @send_queue.end_date %>
</p>

<p>
  <strong>Coupon top:</strong>
  <%= @send_queue.coupon_top %>
</p>

<p>
  <strong>Coupon left:</strong>
  <%= @send_queue.coupon_left %>
</p>

<p>
  <strong>Coupon width:</strong>
  <%= @send_queue.coupon_width %>
</p>

<p>
  <strong>Coupon height:</strong>
  <%= @send_queue.coupon_height %>
</p>

<p>
  <strong>Coupon:</strong>
  <%= @send_queue.coupon %>
</p>

<p>
  <strong>Date font size:</strong>
  <%= @send_queue.date_font_size %>
</p>

<p>
  <strong>Date font color:</strong>
  <%= @send_queue.date_font_color %>
</p>

<p>
  <strong>Coupon font size:</strong>
  <%= @send_queue.coupon_font_size %>
</p>

<p>
  <strong>Coupon font color:</strong>
  <%= @send_queue.coupon_font_color %>
</p>

<p>
  <strong>Release start date:</strong>
  <%= @send_queue.release_start_date %>
</p>

<p>
  <strong>Release end date:</strong>
  <%= @send_queue.release_end_date %>
</p>

<p>
  <strong>Send time:</strong>
  <%= @send_queue.send_time %>
</p>

<p>
  <strong>Beacon:</strong>
  <%= @send_queue.beacon_id %>
</p>

<%= link_to 'Edit', edit_send_queue_path(@send_queue) %> |
<%= link_to 'Back', send_queues_path %>
