<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @pattern.uuid %>
</p>

<p>
  <strong>Activities start date top:</strong>
  <%= @pattern.activities_start_date_top %>
</p>

<p>
  <strong>Activities start date left:</strong>
  <%= @pattern.activities_start_date_left %>
</p>

<p>
  <strong>Activities start date width:</strong>
  <%= @pattern.activities_start_date_width %>
</p>

<p>
  <strong>Activities start date height:</strong>
  <%= @pattern.activities_start_date_height %>
</p>

<p>
  <strong>Activities end date top:</strong>
  <%= @pattern.activities_end_date_top %>
</p>

<p>
  <strong>Activities end date left:</strong>
  <%= @pattern.activities_end_date_left %>
</p>

<p>
  <strong>Activities end date width:</strong>
  <%= @pattern.activities_end_date_width %>
</p>

<p>
  <strong>Activities end date height:</strong>
  <%= @pattern.activities_end_date_height %>
</p>

<p>
  <strong>Coupon top:</strong>
  <%= @pattern.coupon_top %>
</p>

<p>
  <strong>Coupon left:</strong>
  <%= @pattern.coupon_left %>
</p>

<p>
  <strong>Coupon width:</strong>
  <%= @pattern.coupon_width %>
</p>

<p>
  <strong>Coupon height:</strong>
  <%= @pattern.coupon_height %>
</p>

<%= link_to 'Edit', edit_pattern_path(@pattern) %> |
<%= link_to 'Back', patterns_path %>
