<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @archive.uuid %>
</p>

<p>
  <strong>Start date top:</strong>
  <%= @archive.start_date_top %>
</p>

<p>
  <strong>Start date left:</strong>
  <%= @archive.start_date_left %>
</p>

<p>
  <strong>Start date width:</strong>
  <%= @archive.start_date_width %>
</p>

<p>
  <strong>Start date height:</strong>
  <%= @archive.start_date_height %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @archive.start_date %>
</p>

<p>
  <strong>End date top:</strong>
  <%= @archive.end_date_top %>
</p>

<p>
  <strong>End date left:</strong>
  <%= @archive.end_date_left %>
</p>

<p>
  <strong>End date width:</strong>
  <%= @archive.end_date_width %>
</p>

<p>
  <strong>End date height:</strong>
  <%= @archive.end_date_height %>
</p>

<p>
  <strong>End date:</strong>
  <%= @archive.end_date %>
</p>

<p>
  <strong>Coupon top:</strong>
  <%= @archive.coupon_top %>
</p>

<p>
  <strong>Coupon left:</strong>
  <%= @archive.coupon_left %>
</p>

<p>
  <strong>Coupon width:</strong>
  <%= @archive.coupon_width %>
</p>

<p>
  <strong>Coupon height:</strong>
  <%= @archive.coupon_height %>
</p>

<p>
  <strong>Coupon:</strong>
  <%= @archive.coupon %>
</p>

<p>
  <strong>Date font size:</strong>
  <%= @archive.date_font_size %>
</p>

<p>
  <strong>Date font color:</strong>
  <%= @archive.date_font_color %>
</p>

<p>
  <strong>Coupon font size:</strong>
  <%= @archive.coupon_font_size %>
</p>

<p>
  <strong>Coupon font color:</strong>
  <%= @archive.coupon_font_color %>
</p>

<p>
  <strong>Release start date:</strong>
  <%= @archive.release_start_date %>
</p>

<p>
  <strong>Release end date:</strong>
  <%= @archive.release_end_date %>
</p>

<p>
  <strong>Send time:</strong>
  <%= @archive.send_time %>
</p>

<p>
  <strong>Beacon:</strong>
  <%= @archive.beacon_id %>
</p>

<%= link_to 'Edit', edit_archive_path(@archive) %> |
<%= link_to 'Back', archives_path %>
